<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
	<TestRunParameters>
		<Parameter name ="eEmpty" value ="" />
		<Parameter name ="space" value ="a @gmail.com" />
		<Parameter name ="noat"   value ="agmail.com"/>
		<Parameter name ="nodot" value ="agmailcom"/>
		<Parameter name ="userNameGreaterThan100" 
				   value ="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa@.gmail.com"/>
		<Parameter name ="userNameLessThan1" value ="@gmail.com" />
		<Parameter name ="domainNameGreaterThan100" 
				   value ="aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa@gmail.com" />
		<Parameter name ="domainNameLessThan3" value ="a@gm.com" />
		<Parameter name ="charInUserNameNotLetterOrDigit" value ="a!@gmail.com" />
		<Parameter name ="charInDomainNameNotLetterOrDigit" value ="a@gma!l.com" />
		<!--valid emails-->
		<Parameter name ="notEmpty" value ="a@gmail.com" />
		<Parameter name ="noSpace" value ="a@gmail.com"/>
		<Parameter name ="at" value ="a@gmail.com"/>
		<Parameter name ="dot" value ="a@gmail.com"/>
		<Parameter name ="userNameLessThan100" value ="a@gmail.com"/>
		<Parameter name ="userNameGreaterThan0" value ="a@gmail.com"/>
		<Parameter name ="domainLessThan100" value ="a@gmail.com"/>
		<Parameter name ="domainGreaterThan2" value ="a@gmail.com"/>
		<Parameter name ="charInUserNameIsLetterOrDigit" value ="a1@gmail.com" />
		<Parameter name ="charInDomainNameIsLetterOrDigit" value ="a@gmail.com" />
	</TestRunParameters>
	<LoggerRunSettings>
		<Loggers>
			<Logger friendlyName="console" enabled="True">
				<Configuration>
					<Verbosity>quiet</Verbosity>
				</Configuration>
			</Logger>
			<Logger friendlyName="trx" enabled="True">
				<Configuration>
					<LogFileName>EmailValidatorTests.trx</LogFileName>
				</Configuration>
			</Logger>
			<Logger friendlyName="html" enabled="True">
				<Configuration>
					<LogFileName>EmailValidatorTests.html</LogFileName>
				</Configuration>
			</Logger>
		</Loggers>
	</LoggerRunSettings>
</RunSettings>